accelerate==0.29.3
bertopic==0.16.1
bitsandbytes==0.43.1
bokeh==3.4.1
chromadb==0.5.0
datasets==2.19.1
evaluate==0.4.2
faiss-cpu==1.8.0
gensim==4.3.2
google-api-core==2.19.0
google-cloud-aiplatform==1.50.0
ibm-cloud-sdk-core==3.20.0
ibm-watson==8.0.0
ktrain==0.41.3
lark==1.1.9
langchain==0.1.17
langchain-community==0.0.37
langchain-google-vertexai==1.0.3
langdetect==1.0.9
mistralai==0.1.8
NERDA==1.0.0
nlpaug==1.1.11
nltk==3.8.1
nmslib==2.1.1
openai==1.26.0
pandarallel==1.6.5
peft==0.10.0
plotly==5.22.0
pypdf==4.2.0
pydot==2.0.0
pyLDAvis==3.4.1
pytextrank==3.3.0
python-dotenv==1.0.1
rake-nltk==1.0.6
sentence-transformers==2.7.0
sentencepiece==0.2.0
spacy[cuda-autodetect]==3.7.4
summa==1.2.0
sumy==0.11.0
tensorflow==2.16.1
textblob==0.18.0
tiktoken==0.6.0
transformers==4.40.2
trl==0.8.6
tweepy==4.14.0
typing_extensions==4.11.0
vaderSentiment==3.3.2
wandb==0.17.0
xformers==0.0.25
