bertopic==0.15.0
bokeh==3.2.0
datasets==2.13.1
evaluate==0.4.0
gensim==4.3.1
google-cloud-aiplatform==1.26.0
ibm-cloud-sdk-core==3.16.7
ibm-watson==7.0.0
ktrain==0.37.6
langchain==0.0.228
langdetect==1.0.9
NERDA==1.0.0
nlpaug==1.1.11
nltk==3.8.1
nmslib==2.1.1
openai==0.27.8
pandarallel==1.6.5
plotly==5.15.0
pydot==1.4.2
pyLDAvis==3.4.1
pytextrank==3.2.4
rake-nltk==1.0.6
sentence-transformers==2.2.2
spacy[cuda-autodetect]==3.6.0
summa==1.2.0
sumy==0.11.0
tensorflow==2.13.0
textblob==0.17.1
texthero==1.0.9
transformers==4.30.2
tweepy==4.14.0
vaderSentiment==3.3.2
